#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 90px;
  width: auto;
}

.user-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;

}